[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Louis-André Labadie
	email = monsieur@louis-andre.net
	signingkey = 3016DA65
[credential]
	helper = osxkeychain
[push]
	default = simple
[core]
	editor = atom --wait
	excludesfile = /Users/lal/.gitignore
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
