"*":
  "base16-syntax":
    scheme: "PhD"
  core:
    disabledPackages: [
      "wrap-guide"
      "ex-mode"
      "vim-mode"
      "activate-power-mode"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/lalabadie/git"
    themes: [
      "one-dark-ui"
      "base16-syntax"
    ]
  editor:
    fontFamily: "Input"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.6
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "39e9de20-41ae-09e0-9052-71f3901e403d"
  "file-icons": {}
  "language-elm":
    elmOraclePath: "/usr/local/bin/elm-oracle"
  "markdown-preview": {}
  minimap:
    charHeight: 1
    independentMinimapScroll: true
    textOpacity: 0.4
  "one-dark-ui":
    layoutMode: "Spacious"
  "one-light-ui":
    layoutMode: "Spacious"
  pigments:
    extendAutocompleteToColorValue: true
    markerType: "dot"
    sortPaletteColors: "by name"
    traverseIntoSymlinkDirectories: true
  platomformio:
    environPath: "/Users/lalabadie/.rvm/gems/ruby-2.2.0/bin:/Users/lalabadie/.rvm/gems/ruby-2.2.0@global/bin:/Users/lalabadie/.rvm/rubies/ruby-2.2.0/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/lalabadie/.rvm/bin"
    verboseUpload: false
  "project-quick-open":
    openProjectsInSameWindow: true
    projectPaths: "~/git"
  react:
    enabledForAllJavascriptFiles: true
  swackets: {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 100
".coffee.jsx.source":
  editor:
    preferredLineLength: 100
".elm.source":
  editor:
    preferredLineLength: 100
".js.jsx.react.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
".js.source.subtlegradient":
  editor:
    preferredLineLength: 100
".pug.source":
  editor:
    preferredLineLength: 100
