packages: [
  "ariake-dark-syntax"
  "atom-ternjs"
  "auto-update-packages"
  "base16-syntax"
  "busy-signal"
  "color-picker"
  "duotone-dark-syntax"
  "file-icons"
  "intentions"
  "language-arduino"
  "language-babel"
  "language-dotfiles"
  "language-elm"
  "language-haskell"
  "language-liquid"
  "language-pug"
  "language-svg"
  "linter"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "platomformio"
  "project-quick-open"
  "set-syntax"
  "vim-mode"
  "vim-mode-plus"
]
